html, body {
  background-color: black;
  color: #ccc;
  font-size: min(20pt, 3.4vw);
}
body {
  font-weight: 300;
  margin: 1rem;
}
table {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  table-layout: fixed;
  width: 100%;
}
th {
  text-align: left;
}
td, th {
  min-width: 2.5em;
  padding: 0;
  padding-left: 0.5rem;
}
td {
  border-top: 1px dashed #333;
  border-left: 1px dashed #333;
  text-align: center;
}
td.time, th.time {
  border-left: none;
  padding-left: 0;
  text-align: left;
}
.lang-select {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.lang-select > * {
  margin-right: 1em;
}

.lang-select button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 0;
  font-size: 1.2rem;
}